@font-face {
    font-family: Proxima Nova;
    src: url('/src/assets/font/proximanova_regular.ttf') format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: Proxima Nova;
    src: url('/src/assets/font/proximanova_bold.otf') format("opentype");
    font-weight: 600;
}

@font-face {
    font-family: Proxima Nova;
    src: url('/src/assets/font/proximanova_extrabold.otf') format("opentype");
    font-weight: 700;
}